<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="peopleandtech">

	<test name="PintTech Test">

		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.pint.TestCases.TC_LogainTest_001" />
			<class name="com.pint.TestCases.TC_LogainDDT_002" />
			<class name="com.pint.TestCases.TC_AddCustomerTest_003" />

		</classes>

	</test>

</suite>